/* You can add global styles to this file, and also import other style files */

body {
  background-color: #e57373;
}

nav {
  margin-bottom: 20px;
}

h3 {
  color: #fff;
  margin-bottom: 30px;
}

.card {
  margin: 5px 20px;
}

.winner {
  font-weight: bolder;
  color: #00c853;
}
